third_party/*/build/
third_party/zookeeper/.deps
third_party/zookeeper/.libs
third_party/zookeeper/*.lo
third_party/zookeeper/*.o
third_party/zookeeper/*.la
third_party/zookeeper/Makefile
third_party/zookeeper/cli_mt
third_party/zookeeper/cli_st
third_party/zookeeper/config.h
third_party/zookeeper/config.log
third_party/zookeeper/config.status
third_party/zookeeper/libtool
third_party/zookeeper/load_gen
third_party/zookeeper/stamp-h1
third_party/zookeeper/autom4te.cache
third_party/protobuf/config.log
third_party/protobuf/gtest/config.log
third_party/protobuf/*/.deps
third_party/protobuf/*/.libs
third_party/protobuf/*/*.so
third_party/protobuf/*/*.o
third_party/protobuf/*/*.la
third_party/protobuf/*/*.lo
third_party/protobuf/src/google/protobuf/*.pb.h
third_party/protobuf/src/google/protobuf/*.pb.cc
third_party/protobuf/src/google/protobuf/compiler/cpp/*.pb.h
third_party/protobuf/src/google/protobuf/compiler/cpp/*.pb.cc
third_party/protobuf/Makefile
third_party/protobuf/autom4te.cache/
third_party/protobuf/config.h
third_party/protobuf/config.status
third_party/protobuf/gtest/Makefile
third_party/protobuf/gtest/build-aux/config.h
third_party/protobuf/gtest/build-aux/stamp-h1
third_party/protobuf/gtest/config.status
third_party/protobuf/gtest/libtool
third_party/protobuf/gtest/samples/.deps/
third_party/protobuf/gtest/scripts/gtest-config
third_party/protobuf/gtest/src/.deps/
third_party/protobuf/gtest/test/.deps/
third_party/protobuf/libtool
third_party/protobuf/protobuf-lite.pc
third_party/protobuf/protobuf.pc
third_party/protobuf/src/Makefile
third_party/protobuf/src/protoc
third_party/protobuf/src/unittest_proto_middleman
third_party/protobuf/stamp-h1
third_party/protobuf/configure
build/
proto/*.pb.h
proto/*.pb.cc
*.patch
